.logo {
    height: 75px;
    width: 75px;
    background-color: darkgray;
    border-radius: 50%;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Logo_revou.png');
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.message-area {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  padding: 25px 40px;
}
/* End of Send a Message Section */